* {
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*HEADER*/
.header {
    display: flex;
    background-color: #1f2937; 
    padding: 8px 200px 100px 200px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 8px;
    margin-right: auto;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    padding:8px;
    gap:12px;
    margin-left:auto;
    color: #e5e7eb;
    font-size: 18px;
}

li {
    list-style-type: none;
    flex-wrap: nowrap;
}

/*INTRO*/

.intro {
    display:flex;
    flex-direction: row;
    background-color: #1f2937;
    padding: 0 200px 100px 200px;
}

.intro-text {
    width: 400px;
}

.main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom:12px;
}

.secondary {
    color:#e5e7eb;
    font-size: 18px;
    margin-bottom:12px;
}

button {
    background-color:#3882F6;
    color:#e5e7eb;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 8px;
    border:none;
    margin-bottom:12px;
}

.intro-image {
    height:300px;
    width:300px;
    margin:auto;
}

/*INFOS*/

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1f2937;
    font-size: 36px;
    font-weight: 900;
}

.random{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding: 0 200px 100px 200px;
    flex-shrink: 0;
}

.one, .two, .three, .four {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
}

.text {
    text-align: center;
    color: #1f2937;
    font-size: 18px;
}

img {
    border: 4px solid #3882F6;
    border-radius: 8px;
    width: 200;
    height: 200px;
    margin-bottom: 8px;
}

/*QUOTE*/
.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 200px 100px 200px;
}

blockquote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin: 0;
}

p {
    font-size: 24px;
    font-weight: 900;
    margin-left:auto;
}

/*ACTION*/

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3882F6;
    color:#e5e7eb;
    margin: 100px 200px 100px 200px;
    padding: 10px 50px 10px 50px;
    border-radius: 8px;
}

.left {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 900;
    padding: 10px 50px 10px 50px;
}
.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid #e5e7eb; 
    border-radius: 8px;
    padding: 10px 50px 10px 50px;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    height: 80px;
    margin-top: auto;
}